*~
*.log
*.tmp
private_html
.DS_Store
vendor
composer.lock
logs/*
!.gitignore
.sass-cache
public_html/p/*
public_html/sitemaps-xml/*
public_html/sitemap.xml
.htpasswd/
private_html
var/tmp/*
public_html/sitemaps-xml/*
DEADJOE
app/imagehost3/config/database-live.php
app/admin/config/_database-live.php
app/admin/config/database-live.php
app/imagehost3/config/memcache-live.php
