@import '_common';
@import "compass/css3/text-shadow";
@import "compass/css3/inline-block";

.m-footer {
    .stats-cnt {
        background-color: #fff;
    }

    .stats {
        margin: 0 auto;
        padding: 40px 0;
        @extend .container;

        p {
            text-align: center;
            @extend .col-xs-12;
            @extend .col-md-6;

        }

        i {

            font-size: 6.2em;
            color: #fff; 
            font-style: normal;
            font-weight: 900;
            line-height: 1em;

            @extend .pull-left;
            @include text-shadow($brand-primary 2px 0, $brand-primary 0 2px, $brand-primary -2px 0, $brand-primary 0 -2px, $brand-primary -2px -2px, $brand-primary 2px -2px, $brand-primary 2px 2px, $brand-primary -2px 2px);
        }

        span {
            font-weight: 700; 
            font-size: 1.6em;
            line-height: 1.3em;
            width: 110px; 
            text-align: left; 
            margin-left: 20px; 
            color: $brand-primary;
            @extend .pull-left;
        }
    }

    .menu-wrap {
        font-size: 1.4em;
        padding-top: 40px; 
        padding-bottom: 40px; 
        @extend .container;

        .menu {
            @extend .col-sm-4;

            p {
                font-weight: 500; 
                text-transform: uppercase;
            }

            ul {
                list-style-type: none; 
                margin: 0; 
                padding: 0; 
            }

            li {
                line-height: 1.8em;
            }

            a {
                color: $text-color;
                font-weight: 200; 
            }
        }

        .fb-stream {
            @extend .col-sm-6;
        }

        .misc {
            position: relative; 
            @extend .text-right;
            @extend .col-sm-2;

        }
        .socials {
            .fb {
                text-indent:134px;
                overflow: hidden; 
                white-space: nowrap;
                @include inline-block;
                @extend .sprites-circle-icon-fb;
                  
                &:hover {  
                    @extend .sprites-circle-icon-fb-blue;
                }
            }
        }
        
        .copy {
            font-weight: 200; 
            margin-top: 130px;
            
            span {
                font-weight: 500; 
            }
        }
    }

}

@media (min-width: 1200px) {
    .m-footer {

        .stats {
            width: 70%; 
        }

        .menu-wrap {
            width: 70%; 
        }
    }

}

@media (max-width: 1200px) {
    .m-footer {
        .stats i, .stats span {
            float: none !important; 
            display: block; 
            width: 100%; 
            margin: 0; 
            text-align: center; 
        }

        .stats {
            padding: 10px 0; 
        }
    }
}

@media (max-width: 768px) {
    .m-footer {
        .menu-wrap {
            padding-top: 10px; 
            padding-bottom: 10px; 
        }

        .misc {
            text-align: none; 

            .socials .fb {
                float: left; 
            }

            .copy {
                float: right; 
                margin: 0; 
            }
        }
    }
}